<form onsubmit="onValidate(event)" id="client_form">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="color: dodgerblue">Client Table</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="client_name">Client Name</label>
                <input type="text" class="form-control" name="client_name" id="client_name" required>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="client_address">Client Address</label>
                <input type="text" class="form-control" id="client_address" name="client_address" required>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="client_type">Client Type</label>
                <input type="text" class="form-control" name="client_type" id="client_type" required>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 text-center">
            <button class="btn btn-info" type="submit" style="width: 100px">Save</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" type="button" style="width: 100px" onclick="onClear('client_form')">Clear</button>
        </div>
    </div>
</form>