<form onsubmit="onSearch(event)" id="search_form">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="color: dodgerblue">Search</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm"> </div>
        <div class="col-sm">
            <div class="form-group" id="search">
                <label for="search">Search for</label>
                <select class="form-control" id="search-type" name="search-type" required>
                  <option value="student">Student</option>
                  <option value="client">Client</option>
                  <option value="vaccine_manufacturer">Vaccine Manufacturer</option>
                  <option value="provider">Provider</option>
                  <option value="activity">Activity</option>
                  <option value="insurance">Insurance</option>
                </select>
            </div>
        </div>
        <div class="col-sm"> </div>
    </div>
    <div class="row my-2" id="query-fields"></div>
    <div class="row my-3">
        <div class="col-12 text-center">
            <button class="btn btn-info" type="submit" style="width: 100px">Search</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" type="button" style="width: 100px" onclick="onClear('student_form')">Clear</button>
        </div>
    </div>
</form>