<form onsubmit="onValidate(event)" id="vaccination_form">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="color: dodgerblue">Vaccination Table</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="search">Student</label>
                <select class="form-control" id="search-type" name="student_id" required>
                <option value="" selected dis abled >-- Choose One --</option>
                {% for  student in students %}
                <option value="{{student[0]}}">{{student[2] + ' ' + student[3]}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="search">Vaccine Manufacturer</label>
                <select class="form-control" id="search-type" name="vaccine_manufacturer_id" required>
                <option value="" selected dis abled >-- Choose One --</option>
                {% for  vaccine_manufacturer in vaccine_manufacturers %}
                <option value="{{vaccine_manufacturer[0]}}">{{vaccine_manufacturer[1]}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="search">Vaccine Provider</label>
                <select class="form-control" id="search-type" name="vaccine_provider_id" required>
                <option value="" selected dis abled >-- Choose One --</option>
                {% for  provider in providers %}
                <option value="{{provider[0]}}">{{provider[1] + ' - ' + provider[2]}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="date_of_first_dose">Date of First Dose</label>
                <input type="date" class="form-control" name="date_of_first_dose" id=""date_of_first_dose" required>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="date_of_second_dose">Date of Second Dose</label>
                <input type="date" class="form-control" name="date_of_second_dose" id="date_of_second_dose">
            </div>
        </div>
        
    <div class="row my-2">
        <div class="col-12 text-center">
            <button class="btn btn-info" type="submit" style="width: 100px">Save</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger" type="button" style="width: 100px" onclick="onClear('insurance_form')">Clear</button>
        </div>
    </div>
</form>